@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Band arkiv</h1>
    <h3 class="display-4">Här kan du hitta varje band och dess genre</h3>
    <img class="img-fluid" src=" https://phuketliveband.com/wp-content/uploads/2016/04/Band-680x330.jpg" />
</div>


